<main>
  <div id="mainContainer">
    <div id="title">
      <h1>Des recettes et des prix !</h1>
      <div id="founders">
        <img class="us" ngSrc="assets/anthony.png" height="104" width="84">
        <img class="us" ngSrc="assets/jeremy.png" height="104" width="84">
        <img class="us" ngSrc="assets/florian.png" height="104" width="84">
      </div>
    </div>
    <mat-divider></mat-divider>
    <app-search></app-search>
  </div>
</main>
<footer>
  <p>Projet "Web Mining", MSE 2023</p>
</footer>

